@font-face {
    font-family: Signika;
    src: url(Signika/Signika-Light.ttf);
}
@font-face{
    font-family: Lato;
    src: url(Lato/Lato-Light.ttf);
}

body{
    background-color:white;
}

h1{
    font-family: 'Signika', sans-serif;
    color:#33495F;
    font-size: 1.6em;
    margin-bottom: -15px;
}

h2{
    font-family: 'Signika', sans-serif;
    color:#71CFC0;
    font-size: 1.2em;
    margin-bottom: -15px;
}

h3{
    font-family: 'Signika', sans-serif;
    color:#67CADF;
    font-size: 1.2em;
    margin-bottom: -15px;
}
a{
    font-family: 'Lato', sans-serif;
}
b{letter-spacing: 0.48px;    

}
p{
    font-family: 'Lato', sans-serif;
    color:#33495F;
    font-size: 1.1em;
}

.list-1>ul{
    margin-top: 44px;
    font-family: 'Lato', sans-serif;
    font-size: 1.03em;
    letter-spacing: 0.1px;
    list-style-image: url(../image/marker.png);
    line-height: 2em;
    margin-left: 11px;

        
}
/*
.list-2>ul{
    background-color: aquamarine;
    list-style-image: url(../image/marker.png);
    font-family: 'Lato', sans-serif;
    font-size: 1.03em;
    margin-left: 10px;
    margin-top:35px;
    line-height: 2em;
    color:red;
}
.list-2>.list-ul>ul>li:nth-child(4){
    margin-bottom: 100px;
}
.list-2>ul>li{
    padding-left: 4px;
}

*/
.list-1>ul>li{
    padding-left: 4px;
}
.list-1>ul>li:nth-child(1){
   
    margin-left: -2px;
    letter-spacing: 0.1px;
}
.list-1>ul>li:nth-child(2){
    
    margin-top: 2px;
    margin-left: -1px;
}
.list-1>ul>li:nth-child(3){
    
    margin-top: 1px;
    margin-left: -1px;
}
.list-1>ul>li:nth-child(4){
    
    margin-top: 1.5px;
    margin-left: -1px;
}

.big-text-box:nth-child(2)>.list-1>ul{
   margin-top: 28px;
   letter-spacing: 0.04px;
}
.big-text-box:nth-child(2)>.list-1>ul>li:nth-child(1){
margin-left: -1px;
margin-top: 25px;
letter-spacing: 0.05px;
}
/*
.list-2>ul{
    margin-top: 35px;
    font-family: 'Lato', sans-serif;
    
    font-size: 1.03em;
    letter-spacing: 0.1px;
    list-style-image: url(../image/marker.png);
    line-height: 2em;
    margin-left: 10px; 
}*/


.big-text-box>.block-footer{
    
    height: 65px;
    width: 633px;
    margin-top: 27px;
    display: inline-block;
    
   
}
.big-text-box>.block-footer>p{
    margin-right: 25px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.big-text-box>.block-footer>img{
    padding-top:10px;
    width: 25px;
    padding-left: -5px;
    float: left;
}
.big-text-box>.block-footer>.geo{
    position: relative;
    width: 22px;
    height: 21px;
    left:3.5%;
    top:-15.5%;  

}

.big-text-box>.block-footer>.geo + p{
   
    position: relative;
    left:2.1%;
    top:-18%;
    font-size: 1em;
}

 
.big-text-box>.block-footer>.return{
    width: 20px;
    height: 20px;
    position: relative;
    left:6.2%;
    top:-15.5%;   
}

.big-text-box>.block-footer>.return + p{
    position: relative;
    font-size: 0.97em;
    left:5.5%;
    margin-top: -2px;
}

.block-footer>.btn, .block-footer_2>.btn{
    position: relative;
    width: 218px;
    height:37px ;
    background-color:#16C4EC;
    border-radius: 3px;
    left:62%;
    margin-top: -24px;
    
  
}

.btn>p, .btn-right>p{
  
    position: relative;
    color:white;
    top:-58%;
    letter-spacing: 0.01px;
    text-align: center;
 }
.big-text-box:nth-child(1)>.block-footer>.btn>p{
    
    position:relative;
    letter-spacing: 0.4px;
    top:-120%;
    
    font-size: 1em;
}

.big-text-box:nth-child(2)>.block-footer>.btn{
    position: relative;
margin-left: 12px;
top:-5%;

    }
.big-text-box:nth-child(2)>.block-footer>.btn>p{
text-align: center;
position: relative;
top:-85%;
left:-28%;

    
    font-size: 1em;
}

.big-text-box:nth-child(2)>.block-footer>.return{
    margin-left: -3px;
}
.big-text-box:nth-child(2)>.block-footer>.return + p{
    padding-left: 8px;
}


 .block-footer>.disable, .block-footer_2>.disable{
    background-color: #B0BBCA;
}
.container{
    background-color:#EAEDF1 ;
    width: 1510px;
    height: 1715px;
   
}
.container>.header{
   position: relative;
   display:table;
   clear: both;
   margin: auto;
   margin-bottom: 4px;
}
.left-col{
    float: left;
    background-color: white;
    width: 435px;
    height: 295px;
    margin-top:82px;
    margin-left: 78px;
}
.right-col{
    
    float: left;
    width:822px;
    height: 295px;
    background-color: white;
    margin-right: 84px;
    margin-top:81px;
    margin-left: 88px;
    
    
    
    
}

.social>.icon:nth-child(1)
{
    margin-left: 9px;

}
.social>.icon:not(:first-child){
    margin-left: 12px;
}


.photo{
    padding-top:35px;
    padding-left: 25px;
    float: left;
}

.bio{
    float: right;
    margin-right: 32px;
    margin-top: 55px;
    
}
.bio>h1{
    
    font-size: 1.9em;
    
}
.bio>p{
    letter-spacing: 0.2px;

}

.icon-sq{
    display: flex;
    float:right;
    margin-left: 0;
    position: relative;
    padding-top:30px;
    
}

.col-1>.text-box{
    width: 403px;
    height: 105px;
    margin-left: 31px;
    margin-top:25px;
    
    

}
.col-1>.text-box>p{
    font-size: 1.135em;    
    line-height: 1.7em;
    text-align-last: justify;

}

.col-1>.text-box>.last_p{
     
    text-align-last: left;
    margin-top: -18px;
    font-size: 1.12em;
    letter-spacing: 0.09px;
}
.social{
    margin-top: 30px;
    display: flex;
    
}
 
.col-1>h1{
    margin-left:29px;
    margin-top: 42px;
    font-size: 2.45em;
  
    
}
 
.col-2{
    margin-top: -114px;
    margin-right: 31.5px;
    float:right;  
    text-align: right;
    line-height: 1.5em;
   
}
.col-2>p>b{
    margin-right: -1px;
    letter-spacing: 0.5px;
    font-size: 1.265em;
}

.col-2 a{
    
    color:red;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    text-decoration: none; 

}

.col-2>a>b{
    letter-spacing: 0.105em;
    padding-top: 2px;
}



 


.col-2>hr{
    border-style: solid;
    border-width: 0.5px;
    margin-top: 34px;
    width: 272px;
    margin-right: 5px;
}



.main{
    position: relative;
    display:flex;
    clear: both;
    margin: auto;
}

.main>.left-col-main{
    margin-left: 80px;
    margin-right:40px;
    
}
.main>.right-col-main{
    margin-right: 70px;
    margin-left: 55px;
}

.big-text-box{
    
    background-color: white;
    width: 634px;
    height: 340px;

    margin-top: 33px;

}

.big-text-box:nth-child(2)
{
   
    width: 634px;
    height: 322px;
}
.big-text-box:nth-child(2)>.block-footer>.btn
{
    
    left: 60%;
}

.small-text-box{
    background-color: white;
    width: 634px;
    height: 170px;
    border-radius: 1px;
    margin-top: 32px;
}

 

.blockHeader{
    display: flex;
}
.big-text-box>.blockHeader>h1{
    margin-left: 23px; 
    margin-top:27px;
    float:left;

}
.big-text-box:nth-child(1)>.blockHeader>p{
    
    letter-spacing: 0.01em;
}
.big-text-box>.blockHeader>p{ 
    font-size: 1.12em;
    padding-left: 14px;
    padding-top: 15px;
    letter-spacing: 0.1px;
 
}
.small-text-box>.blockHeader>h1{
    
    margin-left: 23px;
    margin-top: 30px;
}
.small-text-box>.blockHeader>p{
    padding-left: 8px;
    margin-top: 35px;
    font-size: 1.06em;
    letter-spacing: 0.51px;
    
}
.small-text-box>h2{
    font-size: 1.3em;
    margin-top: -10px;
    margin-left: 20px;
    letter-spacing: 0.01em ;
    
}

.small-text-box>.block-footer, .small-text-box>.block-footer_2{
    position: relative;
    display: flex;
    margin-top: 36px;
    
}
.small-text-box>.block-footer>.btn, .small-text-box>.block-footer_2>.btn{
    margin-left: -338px;
    margin-top: 0px;
}

.block-footer_2>.geo{
    width: 24px;
    height: 19px;
    margin-top: 11px;
    margin-left: 19px;
}
.small-text-box>.block-footer_2>.geo+p{
    font-size: 1.06em;
    margin-top: 10px;
}
.small-text-box>.block-footer_2>.return{
    width: 24px;
    height: 19px;
    margin-top: 11px;
    margin-left: 50px;
}
.small-text-box>.block-footer_2>.return+p{
   
    margin-top: 10px;
    font-size: 1em;

}

.block-footer_2>.btn{
    position: relative;
    left:65%;
    
}
.block-footer_2>.btn>p{
    text-align: center;
    margin-top:30px;
}
.small-text-box>.block-footer>.btn>p{
    font-size: 1.06em;
    margin-top: 27px;
}
.small-text-box>.block-footer>.geo{
    width: 24px;
    height: 19px;
    margin-top: 11px;
    margin-left: 19px;
}
.small-text-box>.block-footer>.geo+p{
    padding-left: 3px;
    margin-top: 11px;
    font-size: 0.96em;
}
.small-text-box>.block-footer>.return{
    width: 24px;
    height: 19px;
    margin-top: 11px;
    margin-left: 72px;
}
.small-text-box>.block-footer>.return+p{
    padding-left: 0px;
    margin-top: 10px;
    font-size: 1em;

}




/*тут код тайм-лайна*/


.time-line>.line{
    position: absolute;
    width: 6px;
    top:3%;
    left:49.6%;
    height: 1170px;
    background-color: #DBE1E8;
    margin-right: 120px;
    margin-bottom: 150px;
    border-radius: 2px;
    
    z-index: 50;
    
}
.time-line>.year{
    width: 73px;
    height: 35px;
    background-color: #DBE1E8;
    
    left:47.47%;
    top:95%;  
    z-index: 100;
    position: absolute;
    
    
}
.time-line>.year>h1{
    position: relative;
    color:white;
    top:-15px;
    left:8px;
}
.time-line>.point-white-1{
    position: absolute;
    background-color: white;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.3%;
    top:15.7%;
    z-index: 70;
}

.time-line>.point-white-2{
    position: absolute;
    background-color: white;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:45%;
    z-index: 70;
}
.time-line>.point-white-3{
    position: absolute;
    background-color: white;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:67.5%;
    z-index: 70;
}

.time-line>.point-white-4{
    position: absolute;
    background-color: white;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:83.5%;
    z-index: 70;
}
.time-line>.point-gray-1{
    position: absolute;
    background-color: #DBE1E8;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:87%;
    z-index: auto;
}

.time-line>.point-gray-2{
    position: absolute;
    background-color: #DBE1E8;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:24%;
    z-index: auto;
}
.time-line>.point-gray-3{
    position: absolute;
    background-color: #DBE1E8;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:40.5%;
    z-index: auto;
}
.time-line>.point-gray-4{
    position: absolute;
    background-color: #DBE1E8;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:74%;
    z-index: auto;
}


/*тут код серых больших блоков*/

.gray-big-text-box{
    background-color:#DBE1E8;
    width: 623px;
    height: 171px;
    margin-top: 31px;
    margin-left: -7px;


}

.btn-right, .btn-right-2{
    position: relative;
    width: 219px;
    height:38px ;
    background-color:#10CDC1;
    border-radius: 3px;
    left:30%;
    margin-top:14px; 
}
.btn-right-2{
    margin-bottom:-10px;
    left:28.5%;
}
.btn-right>p{
    position:relative;
    margin-top:29px;
    margin-right: 6px;
    font-size: 1em;
    
}
.btn-right-2>p{
    position: relative;
    color:white;
    font-size: 0.95em;
    margin-top:9px;
    margin-left:65px;
    letter-spacing: 0.4px;
}
.gray-big-text-box>h3{
    color:#16C4EC;
    margin-top:-11px;
    margin-left:23px;
    letter-spacing: 0.1px;
    font-size: 1.125em;
}



.gray-big-text-box>.blockHeader>h1{
    margin-top: 29.5px;
    margin-left: 23px;
    font-size: 1.45em;
    letter-spacing: 0.01em;
   
}

.gray-big-text-box>.blockHeader>p{
    margin-left:12px;
    padding-top: 19px;
    font-size: 1.01em;
    letter-spacing: 0.035px;
 
}

.gray-big-text-box>.block-footer{
    display: flex;
    margin-top:30px;
}
.gray-big-text-box>.block-footer>.geo{
    position: relative;
    left:4%;
    margin-top: 24px;
    height: 19px;
    width: 14px;
}

.gray-big-text-box>.block-footer>.geo + p{
    position: relative;
    
    left:5%;
    margin-top: 24px;
    font-size: 0.85em;
    
}

.gray-big-text-box>.block-footer>.return{
    position: relative;
    left: 15.5%;
    width: 15px;
    height: 17px;
    margin-top: 22px;
}

.gray-big-text-box>.block-footer>.return + p, .gray-small-text-box>.block-footer>.return +p{
    position: relative;
    left: 16.4%;
    font-size: 0.83em;
    margin-top: 23px;
}

.gray-big-text-box:nth-child(2)>.block-footer>.geo+p{
    margin-left: 2px;
    margin-top: 27px;
    letter-spacing: 0px;
    font-size: 0.8em;
}
.gray-big-text-box:nth-child(2)>.block-footer>.return{
 margin-top: 26px;
 margin-left: 2px;
}
.gray-big-text-box:nth-child(2)>.block-footer>.return+p{
    margin-top: 26px;
    margin-left: 2px;
    font-size: 0.8em;
}

/*тут код маленьких  серых блоков*/

.gray-small-text-box{
 
    background-color:#DBE1E8;
    width: 625px;
    height: 126px;
    margin-top: 34px;
    margin-left: -8px;
    
}

.gray-small-text-box>.blockHeader>h1{
    
  
  
    margin-left: 25px;
    padding-top: 12px;
    font-size: 1.4em;
    letter-spacing: 0.3px;
}
.gray-small-text-box>.blockHeader>p{
    padding-left:11px;
    padding-top: 20px;
    font-size: 0.9em;
    letter-spacing: 0.6px;
    
}
.gray-small-text-box>h2{
  
    margin-left: 25px;
    margin-top:-7px;
    font-size: 1.06em;
    letter-spacing: 0.5px;
}
.gray-small-text-box>.block-footer{
    margin-top:10px;
}

.gray-small-text-box>.block-footer{
    margin-top:10px;
} 

.stars{
    float: right;
    margin-right: 22px;
    margin-top:30px
}
.stars>img{
    margin-left: -5px;
}
.gray-small-text-box>.block-footer{
    display: flex;
}
.gray-small-text-box>.block-footer>.geo{
    position: relative;
    float: left;
    width: 15px;
    height: 19px;
    margin-top: 19px;
    margin-left: 22px;
}
.gray-small-text-box>.block-footer>.geo+p{
    margin-left: 7px;
    margin-top: 21px;
    font-size: 0.79em;
    letter-spacing: 0.15px;
    
}
.gray-small-text-box>.block-footer>.return{
    position: relative;
    float: left;
    width: 16px;
    height: 18px;
    margin-top: 20px;
    margin-left: 50px;   
}
.gray-small-text-box>.block-footer>.return+p{
    font-size: 0.8em;
    margin-left: -79px;
    margin-top: 20px;
}
.return_gray1{
    position: relative;
    float: left;
    width: 16px;
    height: 18px;
    margin-top: 20px;
    margin-left: 70px; 
}
.return_gray1 + p{
    font-size: 0.8em;
    margin-left: 5px;
    margin-top: 21px;
}


/*тут код блока с прогресс-барами*/

.big-text-box_progressbar{
    background-color: white;
    width: 626px;
    height: 401px;    
    margin-left: -7px; 
}

.image-box{
    display: flex;
    margin-left: 20px;
    margin-top: 35px;
    padding-top:18px;
    
}

.image-box>img{
    width: 77px;
    height: 77px;
    padding-right: 26px;
}



.text-annotation{
    display: flex;
    margin-left: 20px;   
    
     
}
.text-annotation>p{
    padding-right: 30px;
    font-size: 0.81em;
    margin-top: 10px;
}
 
.text-annotation>p:nth-child(2){
    letter-spacing: 0.03em;
    margin-left:3px;
    margin-top: 9px;
}

.text-annotation>p:nth-child(3){
    letter-spacing: 0.02em;
    margin-left: 2px;
    margin-top: 9px;
}
 
.text-annotation>p:nth-child(4){
    margin-left: -7px;
    margin-top: 9px;
    letter-spacing: 0.02em;
}

.text-annotation>p:nth-child(5){
    margin-left: -13px;
    letter-spacing: 0.02em;
    margin-top: 9px;
}
 
.text-annotation>p:nth-child(6){
    margin-left: -11px;
    letter-spacing: 0.04em;
    margin-top: 8px;
}


.bars{
    display: flex;
    
}
.bars>.progress-col-left{
    float: left;
    padding-top:-10px;
    margin-left: 0;

}

.bars>.progress-col-right{
    float: left;
    width:285px;
    height: 250px;
    margin-right: -300px;
    
}


.bars>.progress-col-left>p, .bars>.progress-col-right>p{
    margin-bottom: -2px;
    margin-top:28px;
    margin-left:2px;
    
}
.bars>.progress-col-left>p, .bars>.progress-col-right>p:nth-child(1){
margin-top: ;
    
}

progress {
    border:0;
    width:268px;
    height: 15px;
    border-radius: 5px;
    background: #DBE1E8;
    margin-bottom: -10px;
    background: none;
}

progress::-webkit-progress-bar {
    width:268px ;
    height: 15px;
    border-radius: 15px;
    background: #DBE1E8;
    margin-bottom: -10px;
    }
.bars>.progress-col-left>progress::-webkit-progress-value {
    
    background: #10cdc1;
    border-radius: 5px;
    
    }


.bars>.progress-col-right>progress::-webkit-progress-value {
        
        background: #16C4EC;
        border-radius: 5px;
        }
.bars>.progress-col-left{
    margin-left: 19px;
    line-height: 0.95em;
    
}

.bars>.progress-col-left>.four-bar::-webkit-progress-value, .bars>.progress-col-right>.four-bar::-webkit-progress-value{
    
    margin-top: -8px;
    margin-left: 2px;

}
.bars>.progress-col-left>.four-bar::-webkit-progress-bar, .bars>.progress-col-right>.four-bar::-webkit-progress-bar{
     
    margin-top: -8px;
    margin-left: 0px;
}
 
.bars>.progress-col-left>.three-bar::-webkit-progress-value, .bars>.progress-col-right>.three-bar::-webkit-progress-value{
    
    margin-top: 5px;
    margin-left: 2px;
    

}
.bars>.progress-col-left>.three-bar::-webkit-progress-bar, .bars>.progress-col-right>.three-bar::-webkit-progress-bar{
     
    margin-top: -8px;
    margin-left: 0px;
}
 
.bars>.progress-col-left>.two-bar::-webkit-progress-value, .bars>.progress-col-right>.two-bar::-webkit-progress-value{
    
    margin-top: 5px;
    margin-left: 2px;
    

}
.bars>.progress-col-left>.two-bar::-webkit-progress-bar, .bars>.progress-col-right>.two-bar::-webkit-progress-bar{
     
    margin-top: -8px;
    margin-left: 0px;
}
 

.bars>.progress-col-right{
    
    
    margin-left: 54px;
    line-height: 0.95em;
}

.balloon{ 
    display:block; 
    position:absolute; left:1028px; top:942px; 
    width:38px; height:19px; 
    background:#34495E; 
    color:#fff;
    font-size: 0.75em;
    border-radius:6px;
    text-align: center;
  
}

.balloon>.arrow{
    position:absolute; left:9px; top:115%; margin-top:-8px;
    display:block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #34495E transparent transparent transparent;
    }
.l1{
    left:1016px;
    top:930px;
}
 .l2{
     left: 943px;
     top:982px;
 }
 .l3{
     left:1051px;
     top:1038px;
 }
 .l4{
    left:1027px;
    top:1094px;
 }

 .r1{
    left:1313px; 
    top:930px; 
 }
 .r2{
    left: 1330px;
    top:982px;
}          
.r3{
    left:1279px;
    top:1038px;
}
.r4{
   left:1314px;
   top:1094px;
  
}

 
/*тут код футера*/

.footer{
    display: flex;
    margin-left: 450px;
    margin-top: -3px;
    
  
    
}
.footer>span{
    font-size:110px;
    color:  #CED4DD;
    
    
}
.footer>p{
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
    font-size: 1.06em;
    letter-spacing: 0.5px;

}


/*тут код черты между серыми блоками*/


.hr-near-block{
	
    height: 0;
    width: 630px;
    margin-left: -10px;
	border: none;
    border-top: 4px dotted #ddd;
    margin-top:33px;
}

/**/
.big-text-box>h2{
   
    margin-top: -13px;
    margin-left: 22px;
    letter-spacing: 1px;
    font-size: 1.19em;
}
