@font-face {
    font-family: Signika;
    src: url(Signika/Signika-Light.ttf);
}
@font-face{
    font-family: Lato;
    src: url(Lato/Lato-Light.ttf);
}

body{
    background-color:white;
}

h1{
    font-family: 'Signika', sans-serif;
    color:#33495F;
    font-size: 1.6em;
    margin-bottom: -15px;
}

h2{
    font-family: 'Signika', sans-serif;
    color:#71CFC0;
    font-size: 1.2em;
    margin-bottom: -15px;
}

h3{
    font-family: 'Signika', sans-serif;
    color:#67CADF;
    font-size: 1.2em;
    margin-bottom: -15px;
}
a{
    font-family: 'Lato', sans-serif;
}
p{
    font-family: 'Lato', sans-serif;
    color:#33495F;
    font-size: 1.1em;
}

.list-1>ul{
    margin-left:10.5px;
    margin-top: 42.1px;
    font-family: 'Lato', sans-serif;
    font-size: 1.06em;
    list-style-image: url(../image/marker.png);
    line-height: 2em;  
}

.list-2>ul{
    margin-left:10.5px;
    margin-top: 27.1px;
    font-family: 'Lato', sans-serif;
    font-size: 1.06em;
    list-style-image: url(../image/marker.png);
    line-height: 2em;  
}

.big-text-box>.block-footer{
    
    height: 65px;
    width: 633px;
    margin-top: 27px;
    display: inline-block;
    
   
}
.big-text-box>.block-footer>p{
    margin-right: 25px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.big-text-box>.block-footer>img{
    padding-top:10px;
    width: 25px;
    padding-left: -5px;
    float: left;
}
.geo{
    position: relative;
    width: 11px;
    height: 19px;
    left:3%;
    top:-14%;  

}

.geo + p{
   
    position: relative;
    left:1.5%;
    top:-15%;
    font-size: 1em;
}

 
.return{
    width: 15px;
    height: 22px;
    position: relative;
    left:5%;
    top:-15%;   
}

.return + p{
    position: relative;
    font-size: 1em;
    left:4%;
    top:-14%;
}

.block-footer>.btn{
    position: relative;
    width: 218px;
    height:37px ;
    background-color:#16C4EC;
    border-radius: 3px;
    left:62%;
    top:-40%;
    margin-bottom: 100px;
}

.btn>p, .btn-right>p{
  
    position: relative;
    color:white;
    top:-58%;
    letter-spacing: 0.01px;
    text-align: center;
 }

 .block-footer>.disable{
    background-color: #B0BBCA;
}
.container{
    background-color:#EAEDF1 ;
    width: 1510px;
    height: 1700px;
   
}
.container>.header{
   position: relative;
   display:table;
   clear: both;
   margin: auto;
   margin-bottom: 4px;
  
  
}
.left-col{
   
    float: left;
    background-color: white;
    width: 435px;
    height: 295px;
    margin-top:82px;
    margin-left: 78px;
}
.right-col{
    
    float: left;
    width:822px;
    height: 295px;
    background-color: white;
    margin-right: 84px;
    margin-top:81px;
    margin-left: 88px;
    
    
    
    
}

.social>.icon:nth-child(1)
{
    margin-left: 6px;

}
.social>.icon:not(:first-child){
    margin-left: 12px;
}


.photo{
    padding-top:35px;
    padding-left: 25px;
    float: left;
}

.bio{
    float: right;
    margin-right: 32px;
    margin-top: 55px;
    
}
.bio>h1{
    
    font-size: 1.9em;
    
}

.icon-sq{
    display: flex;
    float:right;
    margin-left: 0;
    position: relative;
    padding-top:30px;
    
}

.col-1>.text-box{
    width: 400px;
    height: 105px;
    
    margin-left: 31px;
    margin-top:25.4px;
    
    

}
.col-1>.text-box>p{
   
    font-size: 1.14em;
     
    
    line-height: 1.7em;
    text-align-last: justify;
   
}

.col-1>.text-box>.last_p{
     
    text-align-last: left;
    margin-top: -20px;
    font-size: 1.12em;
}
.social{
    margin-top: 30px;
    display: flex;
    
}
 
.col-1>h1{
    margin-left:29px;
    margin-top: 39px;
    font-size: 2.45em;
    
}
 
.col-2{
    margin-top: -140px;
    margin-right: 31.5px;
    float:right;  
    text-align: right;
   
}
.col-2>p{
    letter-spacing: 0.5px;
    font-size: 1.2em;
}




 

.list-ul{
   list-style: none;
}
.col-2>hr{
    border-style: solid;
    border-width: 0.5px;
    margin-top: 32px;
    width: 275px;
    margin-right: 5px;
}
.col-2 a{
    color:red;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    text-decoration: none; 
    margin-left:25px; 
}

.col-2>p{
    font-size: 1.4em;
}

.main{
    position: relative;
    display:flex;
    clear: both;
    margin: auto;
}

.main>.left-col-main{
    margin-left: 80px;
    margin-right:40px;
    
}
.main>.right-col-main{
    margin-right: 70px;
    margin-left: 55px;
}

.big-text-box{
    
    background-color: white;
    width: 634px;
    height: 340px;

    margin-top: 33px;

}

.big-text-box:nth-child(2)
{
   
    width: 634px;
    height: 322px;
}
.big-text-box:nth-child(2)>.block-footer>.btn
{
    
    left: 60%;
}

.small-text-box{
    background-color: white;
    width: 634px;
    height: 170px;
    border-radius: 1px;
    margin-top: 32px;
}

 

.blockHeader{
    display: flex;
}
.big-text-box>.blockHeader>h1{
    margin-left: 21px; 
    margin-top:28px;
    float:left;

}

.big-text-box>.blockHeader>p{ 
    font-size: 1.12em;
    padding-left: 14px;
    padding-top: 15px;
    letter-spacing: 0.5px;
 
}
.small-text-box>.blockHeader>h1{
    
    margin-left: 22px;
    margin-top: 26px;
}
.small-text-box>.blockHeader>p{
    padding-left: 6px;
    margin-top: 33px;
    font-size: 1.06em;
    letter-spacing: 0.5px;
    
}
.small-text-box>h2{
    font-size: 1.3em;
    margin-top: -10px;
}
.small-text-box>h2{
   margin-left: 20px;

}
.small-text-box>.block-footer{
    position: relative;
    display: flex;
    margin-top: 36px;
    
}
.small-text-box>.block-footer>.btn{
    margin-left: -295px;
    margin-top: 2px;
}
.small-text-box>.block-footer>.btn>p{
    font-size: 1.06em;
    margin-top: 27px;
}
.small-text-box>.block-footer>.geo{
    width: 24px;
    height: 19px;
    margin-top: 11px;
}
.small-text-box>.block-footer>.geo+p{
    padding-left: 10px;
    margin-top: 10px;
}
.small-text-box>.block-footer>.return{
    width: 24px;
    height: 19px;
    margin-top: 11px;
    margin-left: 30px;
}
.small-text-box>.block-footer>.return+p{
    padding-left: 9px;
    margin-top: 10px;

}


.gray-big-text-box>h3{
    margin-bottom: 20px;
}




/*тут код тайм-лайна*/


.time-line>.line{
    position: absolute;
    width: 6px;
    top:3%;
    left:49.6%;
    height: 1170px;
    background-color: #DBE1E8;
    margin-right: 120px;
    margin-bottom: 150px;
    border-radius: 2px;
    
    z-index: 50;
    
}
.time-line>.year{
    width: 73px;
    height: 35px;
    background-color: #DBE1E8;
    
    left:47.47%;
    top:94.54%;  
    z-index: 100;
    position: absolute;
    
    
}
.time-line>.year>h1{
    position: relative;
    color:white;
    top:-15px;
    left:8px;
}
.time-line>.point-white-1{
    position: absolute;
    background-color: white;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.3%;
    top:15.7%;
    z-index: 70;
}

.time-line>.point-white-2{
    position: absolute;
    background-color: white;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:45%;
    z-index: 70;
}
.time-line>.point-white-3{
    position: absolute;
    background-color: white;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:67.5%;
    z-index: 70;
}

.time-line>.point-white-4{
    position: absolute;
    background-color: white;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:83.5%;
    z-index: 70;
}
.time-line>.point-gray-1{
    position: absolute;
    background-color: #DBE1E8;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:87%;
    z-index: auto;
}

.time-line>.point-gray-2{
    position: absolute;
    background-color: #DBE1E8;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:24%;
    z-index: auto;
}
.time-line>.point-gray-3{
    position: absolute;
    background-color: #DBE1E8;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:40.5%;
    z-index: auto;
}
.time-line>.point-gray-4{
    position: absolute;
    background-color: #DBE1E8;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    left: 49.30%;
    top:74%;
    z-index: auto;
}


/*тут код серых больших блоков*/

.gray-big-text-box{
    background-color:#DBE1E8;
    width: 623px;
    height: 171px;
    margin-top: 31px;
    margin-left: -7px;


}

.btn-right, .btn-right-2{
    position: relative;
    width: 216px;
    height:38px ;
    background-color:#10CDC1;
    border-radius: 3px;
    left:30%;
    margin-top:9px; 
}
.btn-right-2{
    margin-top:11px;
    left:28.5%;
}
.btn-right>p{
    position:relative;
    margin-top:30px;
    margin-right: 1px;
    font-size: 1em;
}
.btn-right-2>p{
    color:white;
    font-size: 1em;
    margin-top:6px;
    margin-left:60px;
    letter-spacing: 0.4px;
}
.gray-big-text-box>h3{
    color:#16C4EC;
    margin-top:-10px;
    margin-left:20px;
}
.gray-big-text-box>.blockHeader>h1{
    margin-top: 29px;
    margin-left: 23px;
    font-size: 1.53em;
}

.gray-big-text-box>.blockHeader>p{
    margin-left:10px;
    padding-top: 17px;
    font-size: 1em;
}

.gray-big-text-box>.block-footer{
    display: flex;
}
.gray-big-text-box>.block-footer>.geo{
    position: relative;
    left:4%;
    margin-top: 25px;
}

.gray-big-text-box>.block-footer>.geo + p{
    position: relative;
    
    left:4.9%;
    margin-top: 23px;
    font-size: 0.85em;
    
}

.gray-big-text-box>.block-footer>.return{
    position: relative;
    left: 15.5%;
    width: 15px;
    height: 17px;
    margin-top: 22px;
}

.gray-big-text-box>.block-footer>.return + p, .gray-small-text-box>.block-footer>.return +p{
    position: relative;
    left: 16.4%;
    font-size: 0.83em;
    margin-top: 23px;
}

.gray-big-text-box>h3{
    font-size: 1.1em;
    letter-spacing: 0.5px;
}
/*тут код маленьких  серых блоков*/

.gray-small-text-box{
 
    background-color:#DBE1E8;
    width: 625px;
    height: 126px;
    margin-top: 34px;
    margin-left: -8px;
    
}

.gray-small-text-box>.blockHeader>h1{
    
    margin-left: 10px;
  
    margin-left: 25px;
    padding-top: 15px;
    font-size: 1.4em;
    letter-spacing: 0.3px;
}
.gray-small-text-box>.blockHeader>p{
    padding-left:10px;
    padding-top: 14px;
    font-size: 1.06em;
}
.gray-small-text-box>h2{
  
    margin-left: 23px;
    margin-top:-10px;
    font-size: 1.06em;
    letter-spacing: 0.5px;
}
.gray-small-text-box>.block-footer{
    margin-top:10px;
}

.gray-small-text-box>.block-footer{
    margin-top:10px;
} 

.stars{
    float: right;
    margin-right: 24px;
    margin-top:30px
}
.stars>img{
    margin-left: -5px;
}
.gray-small-text-box>.block-footer{
    display: flex;
}
.gray-small-text-box>.block-footer>.geo{
    position: relative;
    float: left;
    width: 11px;
    height: 19px;
    margin-top: 20px;
    margin-left: 10px;
}
.gray-small-text-box>.block-footer>.geo+p{
    margin-left: 15px;
    margin-top: 20px;
    font-size: 0.8em;
}
.gray-small-text-box>.block-footer>.return{
    position: relative;
    float: left;
    width: 16px;
    height: 18px;
    margin-top: 20px;
    margin-left: 50px;   
}
.gray-small-text-box>.block-footer>.return+p{
    font-size: 0.8em;
    margin-left: -50px;
}

/*тут код блока с прогресс-барами*/

.big-text-box_progressbar{
    background-color: white;
    width: 626px;
    height: 401px;    
    margin-left: -7px; 
}

.image-box{
    display: flex;
    margin-left: 20px;
    margin-top: 35px;
    padding-top:18px;
    
}

.image-box>img{
    width: 77px;
    height: 77px;
    padding-right: 26px;
}

.text-annotation{
    display: flex;
    margin-left: 20px;   
    
     
}
.text-annotation>p{
    padding-right: 29.5px;
    font-size: 0.81em;
    margin-top: 10px;
    color: red;
}

.text-annotation>p:nth-child(n+2):nth-child(-n+3){
    
    margin-left:4px;
}
.text-annotation>p:nth-child(4){
    margin-left: -4px;
}

.text-annotation>p:nth-child(5){
    margin-left: -9px;
}
.text-annotation>p:nth-child(6){
    margin-left: -13.5px;
    margin-top: 7px;
}


.text-annotation
.bars{
    display: flex;
}

.bars>.progress-col-left>p, .bars>.progress-col-right>p{
    margin-bottom: -2px;
    margin-top:27px;
    margin-left:-2px;
    
}
progress {
    border:0;
    width:268px ;
    height: 15px;
    border-radius: 5px;
    background: #DBE1E8;
    }

progress::-webkit-progress-bar {
    width:268px ;
    height: 15px;
    border-radius: 15px;
    background: #DBE1E8;
    margin-bottom: -10px;
    }
.bars>.progress-col-left>progress::-webkit-progress-value {
    
    background: #10cdc1;
    }
.bars>.progress-col-right>progress::-webkit-progress-value {
        
        background: #16C4EC;
        }
.bars>.progress-col-left{
    margin-left: 19px;
    line-height: 11px;
    margin-top: 20px;
}

.bars>.progress-col-right{
    line-height: 11px;
    margin-top: 20px;
    margin-left: 54px;
}

.balloon{ 
    display:block; 
    position:absolute; left:1028px; top:942px; 
    width:38px; height:19px; 
    background:#34495E; 
    color:#fff;
  
    border-radius:6px;
    text-align: center;
}
.balloon{
    font-size: 0.75em;
    text-align: center;
    padding-top: -1px;
}
.balloon>.arrow{
    position:absolute; left:9px; top:115%; margin-top:-8px;
    display:block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #34495E transparent transparent transparent;
    }
.l1{
    left:1021px;
    top:928px;
}
 .l2{
     left: 945px;
     top:980px;
 }
 .l3{
     left:1055px;
     top:1034px;
 }
 .l4{
    left:1030px;
    top:1090px;
 }

 .r1{
    left:1315px; 
    top:928px; 
 }
 .r2{
    left: 1330px;
    top:980px;
}
.r3{
    left:1281px;
    top:1034px;
}
.r4{
   left:1315px;
   top:1090px;
  
}


/*тут код футера*/

.footer{
    display: flex;
    margin-left: 450px;
    margin-top: -10px;
  
    
}
.footer>span{
    font-size:110px;
    color:  #CED4DD;
    
    
}
.footer>p{
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
    font-size: 1.06em;
    letter-spacing: 0.5px;

}


/*тут код черты между серыми блоками*/


.hr-near-block{
	
    height: 0;
    width: 630px;
    margin-left: -10px;
	border: none;
    border-top: 4px dotted #ddd;
    margin-top:33px;
}

/**/
.big-text-box>h2{
   
    margin-top: -13px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-size: 1.2em;
}
